button {
	width: 80px;
	margin: 10px 20px;
	padding: 5px 10px;
	color: #282c34;
	border-radius: 10px;
	font-size: 20px;
	background-color: gainsboro;
}

text {
	font-size: 20px;
	font-weight: 800;
	color: #282c34;
}
